= form_for(@lending) do |f|
  - if @lending.errors.any?
    #error_explanation
      %h2
        = pluralize(@lending.errors.count, "error")
        prohibited this item from being saved:
      %ul
        - @lending.errors.full_messages.each do |msg|
          %li= msg
  .field
    %p
      = f.label :user_id
      %br/
      = f.select :user_id, options_for_select( User.all.collect { |user| [ user.username, user.id ] } )
    %p
      = f.label :item_id
      %br/
      = f.select :item_id, options_for_select( Item.all.collect { |item| [ item.name, item.id ] } )
    %p
      = f.label :lending_start
      %br/
      = f.text_field :lending_start
    %p
      = f.label :lending_end
      %br/
      = f.text_field :lending_end

  .actions
    = f.submit
